*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    padding: 0px;
}

.product_table{
    margin-top: 20px;
}

.applied_filter {
    font-size: 14px;
    color: #5555559c;
    font-weight: 300;
    font-style: italic;

    b{
        text-decoration: underline;
        font-weight: 600;
    }
}